/*CSS PER MOBILE*/

/*
==============
SEZIONE HEADER
==============
*/

.header-content{
    flex-direction: column;
}


/*
============
SEZIONE MAIN
============
*/
main{
    margin-top: 17em;
}

/*
==========
PAGINA NFT
==========
*/
#searchBar {
    margin-top: 17em;
}
