/*CSS PER MOBILE*/

/*
==============
SEZIONE HEADER
==============
*/

header h1 {
    margin-left: 0em;
}

.header-content{
    flex-direction: column;
}

.menu-list{
    margin: 0;
}

.menu-item{
    font-size: 0.75em;
    padding: 0.5em 1em;
}

.menu-item, .menu-item a{
    display: flex;
    flex-direction: column;
}

#home-bg{
    background: url("./assets/home_icon.svg") top center no-repeat;
    padding-top: 2em; 
}

#nft-bg{
    background: url("./assets/nft_icon.svg") top center no-repeat;
    padding-top: 2em; 
}

#aboutUs-bg{
    background: url("./assets/aboutUs_icon.svg") top center no-repeat;
    padding-top: 2em; 
}

#register-bg{
    background: url("./assets/register_icon.svg") top center no-repeat;
    padding-top: 2em; 
}

#login-bg{
    background: url("./assets/login_icon.svg") top center no-repeat;
    padding-top: 2em; 
}

#logout-bg{
    background: url("./assets/logout_icon.svg") top center no-repeat;
    padding-top: 2em;
}

#profile-bg{
    background: url("./assets/profile_icon.svg") top center no-repeat;
    padding-top: 2em;
}
/*
============
SEZIONE MAIN
============
*/
main{
    padding-top: 11em;
}

/*
==========
PAGINA NFT
==========
*/
#searchBar {
    margin-top: 11em;
}

#filtri {
    margin-left: 5%;
    margin-right: 5%;
}

div#filtri > form > fieldset {
    padding-left: 5%;
    padding-right: 5%;
}
/*
===========================
PAGINA REGISTRATI E ACCEDI
===========================
*/
.user-form input[type="submit"] {
    margin: 2em 2em 0 2em;
}

.user-form {
    margin-left: 5%;
    margin-right: 5%;
    padding: 0 2em 2em 2em;
}

.user-form > fieldset {
    padding-left: 5%;
    padding-right: 5%;
}

/*
===========================
PAGINA CHI SIAMO
===========================
*/

.membro img {
    max-width: 8em;
}

.membro {
    flex: 1 1 45%;
    max-width: 45%;
    box-sizing: border-box;
}

/*
===========================
PAGINE 404,500
===========================
*/

/*
===========================
    padding-right: 0;
    padding-top: 100%;
    background-position-y: 30%;
    background-position-x: 50%;
    background-size: 40%;
    background-repeat: no-repeat;
===========================
*/

#errore404, #errore500{
    padding-right: 0;
    padding-top: 85%;
    background-position: right 50% top 25%;
    background-size: 40%;
    background-repeat: no-repeat;
}

#errore404 h1, #errore500 h1 {
    background-color: var(--contentbgcolor);
}