* {
    padding: 0em;
    margin: 0em;
    line-height: 1.5em;
}

:root {
    --bgcolor: rgba(0, 0, 0, 0.650);
    --bgcolor-help: pink;
    --txtcolor: #FFF;
    --breadcolor: ;
    --contenttxtcolor: #000;
    --contentbgcolor: ;
    --linkcolor: #FFF;
    --visitedcolor: pink;
}

html {
    color: var(--txtcolor);
    background-color: var(--bgcolor);
}


body {
    font-size: 100%;
    line-height: 1.5em;
    max-width: 1024px;
    margin: auto;
}

a:link {
    color: var(--linkcolor);
}

a:visited {
    color: var(--visitedcolor);
}

/*
==============
SEZIONE HEADER
==============
*/
header {
    width: 100%;
    max-width: 1024px;
    align-items: center;
    text-align: center;
    top: 0;
    position: fixed;
    background-color: black;
}

header h1 {
    padding: 1em;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align:center;
}
/*
============
SEZIONE MENU
============
*/
.menu-list{
    display: flex;
    list-style:none;
}

.menu-item{
    padding:1em;
}

/*
======================
AIUTI ALLA NAVIGAZIONE
======================
*/
.navigationHelp{
    margin: 1em;
    position: absolute;
    text-indent: -999em;
    background-color: var(--bgcolor-help);
}

.listHelp a{
    color: var(--contenttxtcolor);
}

.navigationHelp:focus{
    position: static;
    text-indent:0;
    padding: 0.5em;
}

/*
==================
SEZIONE BREADCRUMB
==================
*/
#breadcrumb {
    padding: 0.5em;
    align-items: center;
    text-align: center;
    background-color: var(--breadcolor);
    color: var(--txtcolor);
    margin-top: 5em;
}

/*
=================
SEZIONE SLIDESHOW
=================
*/
.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    margin-left: 0.5em;
    margin-right:0.5em;
}

.wrapper p{
    font-size: 3em;
    font-weight: bold;
    display: contents;
    text-align: center;
}

.slideshow{
    display: flex;
    column-gap: 1em;
    overflow-x: hidden;
    margin-left: 0.5em;
    margin-right:0.5em;
}

/*
============
SEZIONE MAIN
============
*/
main{
    text-align: center;
    background-color: #191919;
}
main h1 {
    margin-top: 1em;
    margin-bottom: 1em;
}

main h2{
    padding-top: 1em;
    padding-bottom: 0.5em;
}

main p{
    text-align: justify;
    padding: 1em;
}

#cards {
    display: flex;
    flex-flow: row wrap;
    margin-top: 2em;
    justify-content: space-around;
    row-gap: 1.5em;
    margin-left: 2em;
    margin-right: 2em;
}

.card {
    background-color: var(--contentbgcolor);
}

.card h2 {
    text-align: center;
}

#searchBar {
    justify-content: center;
    text-align: center;
}

form {
    margin-left: 2em;
    margin-right: 2em;
}