@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bgcolor: #785D9B;
    --bgcolor-help: #ffbdcf;
    --txtcolor: #FFFEF4;
    --contenttxtcolor: #000408;
    --contentbgcolor: #000408;    ;
    --linkcolor: #FFFEF4;
    --visitedcolor: #C0469D;
    --breadfooterlinecolor: #5873BD;
    --txtbreadfooter: #FFFEF4;
    --breadfooterbgcolor: #000408;
    --logocolor: #Fc8eac;
}

/*  colori precedenti
    --bgcolor: rgba(0, 0, 0, 0.650);
    --bgcolor-help: pink;
    --txtcolor: #FFF;
    --breadcolor: gray;
    --contenttxtcolor: #000;
    --contentbgcolor: #191919;
    --linkcolor: #FFF;
    --visitedcolor: pink;
    --footerbgcolor: pink;
    --footercolor: black;

    --bgcolor: #785D9B;
    --bgcolor-help: pink;
    --txtcolor: #FFFFE8;
    --breadcolor: #BB87FF;
    --contenttxtcolor: #000;
    --contentbgcolor: #0D1321;
    --linkcolor: #FFD8D8;
    --visitedcolor: #A454FF;
    --footerbgcolor: #Fc8eac;
    --footercolor: #0D1321;
*/

* {
    font-family: "Montserrat", serif;
    padding: 0em;
    margin: 0em;
    line-height: 1.5em;
}

html {
    color: var(--txtcolor);
}

body {
    font-size: 100%;
    line-height: 1.5em;
    max-width: 1024px;
    margin: auto;
    background-image:url('./assets/background.webp');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

a:link {
    color: var(--linkcolor);
}

a:visited {
    color: var(--visitedcolor);
}

abbr{
    text-decoration: none;
}

.button {
    background-color: var(--txtcolor);
    border: none;
    color: var(--contentbgcolor);
    padding: 1em 1.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: var(--bgcolor-help);
}

/*
==============
SEZIONE HEADER
==============
*/
header {
    width: 100%;
    max-width: 1024px;
    align-items: center;
    text-align: center;
    top: 0;
    position: fixed;
    background-color: var(--contentbgcolor);
    z-index: 2;
}

header h1 {
    padding: 1em 5em;
    margin-left: 1em;
    background-image: url(./assets/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -9999px;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align:center;
}
/*
============
SEZIONE MENU
============
*/
.menu-list{
    display: flex;
    list-style:none;
    margin: 0em 1em;
}

.menu-item{
    padding: 1.5em 1em;
}

#currentLink {
    background-color: var(--visitedcolor);
    color: var(--txtcolor);
    border-radius: 5px;
}

/*
======================
AIUTI ALLA NAVIGAZIONE
======================
*/
.navigationHelp{
    margin: 1em;
    position: absolute;
    text-indent: -999em;
    background-color: var(--bgcolor-help);
}

.listHelp{
    margin: 0.5em 0;
}

.listHelp a{
    color: var(--contenttxtcolor);
}

.navigationHelp:focus{
    position: static;
    text-indent:0;
    padding: 0.5em;
    margin: 0.5em;
}

/*
===========================
SEZIONE BREADCRUMB E FOOTER
===========================
*/

#breadcrumb, footer {
    background-color: var(--breadfooterbgcolor);
    color:var(--txtbreadfooter);
    border-top: 2px solid var(--visitedcolor); 
    border-bottom: 2px solid var(--visitedcolor); 
}

#breadcrumb {
    padding: 0.5em;
    margin-top: 0.3em;
}

#breadcrumb p{
    margin: 0;
}

footer {
    padding: 0.5em 0em;
    text-align: center;
}

/*
============
SEZIONE MAIN
============
*/
main{
    text-align: center;
    background-color: var(--contentbgcolor);
    padding-top: 7em;
}
main h1 {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

main h2{
    padding-top: 1em;
    padding-bottom: 0.5em;
}

main p{
    text-align: justify;
    padding: 1em;
}

main p.center{
    text-align: center;
}

#cards, .last-cards {
    display: flex;
    flex-flow: row wrap;
    margin-top: 2em;
    justify-content: space-around;
    row-gap: 1.5em;
    margin-left: 2em;
    margin-right: 2em;
}

.card {
    background-color: var(--contentbgcolor);
    transition: transform 0.3s ease;
}

.card img{
border-radius: 10px;
}

.card a {
    text-decoration: none;
}

/*Fix per il titolo delle card nella pagina nft*/
.card h2{
    padding: 0;
    text-decoration: underline;
}

.card h3{
    text-decoration: underline;
}

.card span{
    color: var(--txtcolor);
}

.head-card{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card:hover, .card:focus-within {
    transform: translateY(-0.5em); 
}

form {
    margin-left: 2em;
    margin-right: 2em;
}

dl dt {
    text-align: left;
    padding: 0 1em 0 1em;
}

dl dd {
    margin-bottom: 1.5em;
    text-align: justify;
    padding: 0 1em 0 1em;
}

dl dd:last-child {
    margin-bottom: 0;
    padding-bottom: 1.5em;
}

#primo, #secondo, #terzo {
    position: relative;
}

#primo::before, #secondo::before, #terzo::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    pointer-events: none;
    bottom: -1em;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

#primo::before{
    background-image: url('./assets/primo.png');
} 
#secondo::before{
    background-image: url('./assets/secondo.png');
} 
#terzo::before {
    background-image: url('./assets/terzo.png');
}



/*
==========
PAGINA NFT
==========
*/

#filtri {
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}

fieldset  {
    border-radius: 7px;
    border: 2px solid;
}

div#filtri > form > fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 1em;
}

legend {
    font-weight: bold;
    margin-bottom: 1em;
}


input, textarea, #ordina{
    border-radius: 5px;
    border: 0px;
    box-sizing: border-box;
}

#categorie.filtro-aggiuntivo {
    padding-left: 3%;
    margin-bottom: 1em;
}

label{
    margin-top: 1em;
}

div#filtri select {
    margin-bottom: 1em;
    text-align: center;
}

input[type="checkbox"]:last-of-type {
    margin-bottom: 1.5em;
}

#show-filters {
    background: url("./assets/filter_icon.svg") center center no-repeat;
    border: none;
    width: 2.5em;
    height: 2.5em;
    cursor: pointer;
}

.head-filter{
    margin-bottom: 1em;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.head-filter input{
    width: 90%;
}

#navigazione-pagine {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.page-number {
    font-size: 2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.prev-page,.next-page{
    background-color: var(--contentbgcolor);
    color: var(--txtcolor);
    font-size: 2em;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

#nft-price {
    display: flex;
    align-items: center; 
}


/*
===========================
PAGINA REGISTRATI E ACCEDI
===========================
*/
.user-form input[type="submit"] {
    margin-top: 1em;
    margin-left: 25%;
    margin-right: 25%;
    min-width: 120px;
}

.user-form {
    text-align: left;
    margin-left: 30%;
    margin-right: 30%;
    padding-bottom: 2em;
}

.user-form fieldset{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 1em;
}

.user-form fieldset label{
    margin-top: 1em;
}

.messaggi-form {
    color: var(--bgcolor-help);
    text-align: center;
}

/*
===============
TABELLA IN HOME
===============
*/
p{
    margin: 0 10%;
    padding: 0;
}

table{
    margin: 1em;
    width:80%;
}

thead{
    background-color: var(--visitedcolor);
}

table, th, td{
    border: 1px solid;
    border-collapse: collapse;
    padding: 0.5em;
}

td{
    text-align: left;
}

.tabella{
    display:flex;
    justify-content: center;
    align-items:center;
    padding-bottom: 1em;
}

/*
===========================
PAGINA PROFILO
===========================
*/

#utente_saldo {
    display: flex;
    flex-direction: column;
    row-gap: 0.7em;
}

#profilo_utente_logo {
    width: 8em;
}

.form_recensione{
    display: flex;
    margin: 0 1em;
    align-items: center;
}

.form_recensione + .form_recensione{
    margin-left: 0;
}

input#prezzo{
    margin-bottom: 1em;
}


/*
===========================
PAGINA SINGOLO NFT
===========================
*/
/*
Immagine contenuto
*/
#immagine-contenuto{
    width: 60%;
}

/*
Commento
*/

.comment-list{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.head-comment, .comment{
    border: 1px solid;
}
.comment{
    margin: 1em 0;
    width: 80%;
    border-radius: 3px;
}

.user-comment{
    display: flex;
    align-items: center;
}

.head-comment{
    padding: 0.5em;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo_utente {
    width: 2em;
}

#agg-recensione{
    margin: 0 10%;
}

#agg-recensione #username:read-only{
    background-color: silver;
}

#mod-recensione textarea, #agg-recensione textarea{
    resize:none;
}

#stelle-recensione {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.user-form fieldset label.star {
    font-size: 2em;
    margin: 0;
}

#stelle-recensione input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

#stelle-recensione label {
    cursor: pointer;
    font-size: 3em;
}

#stelle-recensione input[type="radio"]:focus + label {
    outline: 2px solid var(--visitedcolor);
}


.star {
    color: var(--visitedcolor);
}

#stelle-recensione input[type="radio"]:checked ~ label {
    color: var(--visitedcolor);
}

#stelle-recensione input[type="radio"]:checked ~ label ~ label {
    color: var(--txtcolor); 
}

/*
===========================
PAGINA CHI SIAMO
===========================
*/

dl{
    display: inline-block;
    width: 80%;
}

.membro p{
    text-align: center;
}

.membro img {
    border-radius: 50%; 
    max-width: 9.5em;
    height: auto;
}

/*
===========================
PAGINE 404,500
===========================
*/
#errore404, #errore500{
    padding-right: 40%;
    padding-bottom: 5em;
    background-position: right 15% top 55%;
    background-size: 30%;
    background-repeat: no-repeat;
}

#errore404{
    background-image: url("assets/404.png");
} 

#errore500{
    background-image: url("assets/500.png");
}

#errore404 h2, #errore500 h2{
    margin: 0 10%;
    color: var(--bgcolor-help);
    font-weight: bold;
    font-size: 1.5em;
}

/*
=====================
PAGINA DISCONNESSIONE
=====================
*/

.conferma-logout {
    text-align: center;
}
