@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bgcolor: #785D9B;
    --bgcolor-help: #ffbdcf;
    --txtcolor: #FFFEF4;
    --breadcolor: #8CA0D7;
    --contenttxtcolor: #000408;
    --contentbgcolor: #000408;    ;
    --linkcolor: #FFFEF4;
    --visitedcolor: #C0469D;
    --footerbgcolor: #8CA0D7;
    --footercolor: #000408;
    --logocolor: #Fc8eac;
}

/*  colori precedenti
    --bgcolor: rgba(0, 0, 0, 0.650);
    --bgcolor-help: pink;
    --txtcolor: #FFF;
    --breadcolor: gray;
    --contenttxtcolor: #000;
    --contentbgcolor: #191919;
    --linkcolor: #FFF;
    --visitedcolor: pink;
    --footerbgcolor: pink;
    --footercolor: black;

    --bgcolor: #785D9B;
    --bgcolor-help: pink;
    --txtcolor: #FFFFE8;
    --breadcolor: #BB87FF;
    --contenttxtcolor: #000;
    --contentbgcolor: #0D1321;
    --linkcolor: #FFD8D8;
    --visitedcolor: #A454FF;
    --footerbgcolor: #Fc8eac;
    --footercolor: #0D1321;
*/

* {
    font-family: "Montserrat", serif;
    padding: 0em;
    margin: 0em;
    line-height: 1.5em;
}

html {
    color: var(--txtcolor);
    background-color: var(--bgcolor);
}

body {
    font-size: 100%;
    line-height: 1.5em;
    max-width: 1024px;
    margin: auto;
}

a:link {
    color: var(--linkcolor);
}

a:visited {
    color: var(--visitedcolor);
}

abbr{
    text-decoration: none;
}

.button {
    background-color: var(--txtcolor);
    border: none;
    color: var(--contentbgcolor);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: var(--bgcolor-help);
}

/*
==============
SEZIONE HEADER
==============
*/
header {
    width: 100%;
    max-width: 1024px;
    align-items: center;
    text-align: center;
    top: 0;
    position: fixed;
    background-color: var(--contentbgcolor);
}

header h1 {
    padding: 1em 5em;
    margin-left: 1em;
    background-image: url(./assets/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -9999px;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align:center;
}
/*
============
SEZIONE MENU
============
*/
.menu-list{
    display: flex;
    list-style:none;
    margin: 0em 1em;
}

.menu-item{
    padding: 1.5em 1em;
}

#currentLink {
    background-color: var(--visitedcolor);
    color: var(--txtcolor);
    border-radius: 5px;
}

/*
======================
AIUTI ALLA NAVIGAZIONE
======================
*/
.navigationHelp{
    margin: 1em;
    position: absolute;
    text-indent: -999em;
    background-color: var(--bgcolor-help);
}

.listHelp a{
    color: var(--contenttxtcolor);
}

.navigationHelp:focus{
    position: static;
    text-indent:0;
    padding: 0.5em;
    margin: 0.5em;
}

/*
==================
SEZIONE BREADCRUMB
==================
*/
#breadcrumb {
    padding: 0.5em;
    align-items: center;
    text-align: center;
    background-color: var(--breadcolor);
    color: var(--contentbgcolor);
}

/*
=================
SEZIONE SLIDESHOW
=================
*/
.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    margin-top: 0.5em;
    margin-left: 10%;
    margin-right:10%;
}

.wrapper p{
    font-size: 3em;
    font-weight: bold;
    display: contents;
    text-align: center;
}

.slideshow{
    display: flex;
    column-gap: 1em;
    transition: 0.5s all ease-out;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
    margin-left: 0.5em;
    margin-right:0.5em;
}

.prev,.next{
    background-color: var(--contentbgcolor);
    color: var(--txtcolor);
    font-size: 3em;
    font-weight: bold;
    display: contents;
    text-align: center;
    border: none;
    cursor: pointer;
}

/*
============
SEZIONE MAIN
============
*/
main{
    text-align: center;
    background-color: var(--contentbgcolor);
    padding-top: 7em;
}
main h1 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

main h2{
    padding-top: 1em;
    padding-bottom: 0.5em;
}

main p{
    text-align: justify;
    padding: 1em;
}

#cards {
    display: flex;
    flex-flow: row wrap;
    margin-top: 2em;
    justify-content: space-around;
    row-gap: 1.5em;
    margin-left: 2em;
    margin-right: 2em;
}

.card {
    background-color: var(--contentbgcolor);
}

.card a {
    text-decoration: none;
}

/*Fix per il titolo delle card nella pagina nft*/
.card h2{
    padding: 0;
    text-decoration: underline;
}

.card h3{
    text-decoration: underline;
}

.card span{
    color: var(--txtcolor);
}

.head-card{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

form {
    margin-left: 2em;
    margin-right: 2em;
}

dl dt {
    text-align: left;
    padding: 0 1em 0 1em;
}

dl dd {
    margin-bottom: 1.5em;
    text-align: justify;
    padding: 0 1em 0 1em;
}

dl dd:last-child {
    margin-bottom: 0;
    padding-bottom: 1.5em;
}

/*
==============
SEZIONE FOOTER
==============
*/

footer {
    padding: 0.5em 0em;
    text-align: center;
    background-color: var(--footerbgcolor);
    color: var(--footercolor);
}

/*
==========
PAGINA NFT
==========
*/
#filtri {
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}

div#filtri > form > fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
}

#categorie {
    padding-left: 3%;
}


div#filtri select {
    margin-bottom: 1em;
    text-align: center;
}

#categorie {
    margin-bottom: 1em;
}

.filtro-aggiuntivo {
    display: none;
}

#show-filters {
    background: url("./assets/filter_icon.svg") top center no-repeat;
    border: none;
    padding: 1em;
    cursor: pointer;
}

.head-filter{
    margin-bottom: 1em;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

/*
===========================
PAGINA REGISTRATI E ACCEDI
===========================
*/
.user-form input[type="submit"] {
    margin-top: 1em;
    margin-left: 25%;
    margin-right: 25%;
    min-width: 120px;
}

.user-form {
    text-align: left;
    margin-left: 30%;
    margin-right: 30%;
    padding-bottom: 2em;
}

.user-form fieldset{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 1em;
}

.user-form fieldset label{
    margin-top: 1em;
}

/*
===============
TABELLA IN HOME
===============
*/
p{
    margin: 0 10%;
    padding: 0;
}

table{
    margin: 1em;
    width:80%;
}

thead{
    background-color: var(--visitedcolor);
}

table, th, td{
    border: 1px solid;
    border-collapse: collapse;
    padding: 0.5em;
}

td{
    text-align: left;
}

.tabella{
    display:flex;
    justify-content: center;
    align-items:center;
    padding-bottom: 1em;
}

/*
===========================
PAGINA PROFILO
===========================
*/

#utente_saldo {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#profilo_utente_logo {
    width: 8em;
}

/*
===========================
PAGINA SINGOLO NFT
===========================
*/
/*
Immagine contenuto
*/
#immagine-contenuto{
    width: 60%;
}

/*
Commento
*/

.comment-list{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.head-comment, .comment{
    border: 1px solid;
}
.comment{
    margin: 1em 0;
    width: 80%;
}


.user-comment{
    display: flex;
    align-items: center;
}

.head-comment{
    padding: 0.5em;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo_utente {
    width: 2em;
}

/*
===========================
PAGINA CHI SIAMO
===========================
*/

dl{
    display: inline-block;
    width: 80%;
}
